.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar-headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar-search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 30px;
  padding: 10px;
}

.sidebar-searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar-searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar-searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.sidebar-chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}
